body {
    background: url('/static/singlepage/images/intro_image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.area {
    background-color: rgba(255, 255, 255, 0.7);
}
